{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="main">
    <div clas="row">
    <h1>{{ "Register" | trans }}</h1>
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        <div>
            {{ form_row(registrationForm.email) }}
        </div>
        <div>
            {{ form_row(registrationForm.username) }}
        </div>
        <div>
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
        </div>
        <div>
            {{ form_row(registrationForm.agreeTerms) }}
        </div>

            <button type="submit" class="btn">{{ "Register" | trans }}</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
