<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <div>
                <a href="{{ path("app_pins") }}">Water Promo</a>
            {% if app.user %}
                <a href="{{ path("app_add_produit") }}">{{ "Add product" | trans }}</a>
            {% endif %}
            </div>


            <div>    
            {% if app.user %}
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <a href="{{ path("app_admin_panel_control") }}">{{ "Admin control panel" | trans }}</a>
            {% endif %}
                <a href="{{ path('app_logout') }}">{{ "Logout" | trans }}</a>
            {% else %}    
                <a href="{{ path("app_login") }}">{{ "Login" | trans }}</a>
                <a href="{{ path("app_register") }}">{{ "Sign in" | trans }}</a>
            {% endif %}
            </div>

        </nav>
        {% block body %}
        {% endblock %}
    </body>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div>
                    <span>Water Promo</span>
                </div>
                <div>
                    {% if app.request.locale == 'en' %}
                        <div>Switch languages: <a href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}" class="btn btn-link">FR</a></div>
                    {% else %}
                        <div>Changer de langue: <a href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}" class="btn btn-link">EN</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </footer>
</html>
